<!DOCTYPE html>
<html lang="en">
  <head>
     <link rel="stylesheet" type="text/css" href="styles.css"/>
    <title>CSS Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<body>

<header>
  <h2>Welcome to my webpage</h2>
</header>

<section>
  <nav>
    <ul>
      <%= link_to 'Home', root_path %>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  
  

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2>Column 1</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam hendrerit, justo nec iaculis semper, quam risus auctor mauris, in molestie tortor lacus ac erat. Fusce libero libero, luctus non ex venenatis, auctor hendrerit orci. Vivamus vel nunc sed arcu scelerisque congue. Nunc faucibus ullamcorper feugiat. Donec vitae urna in justo bibendum blandit vitae id turpis. Morbi rhoncus ut leo sit amet egestas. Morbi et quam eget ex commodo dapibus. Quisque volutpat non ipsum et vehicula. Integer ac erat eu nunc dapibus laoreet. Aenean elit nunc, tincidunt fermentum dictum in, ultrices eu urna. Etiam molestie viverra est nec ultrices.</p>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>Column 2</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam hendrerit, justo nec iaculis semper, quam risus auctor mauris, in molestie tortor lacus ac erat. Fusce libero libero, luctus non ex venenatis, auctor hendrerit orci. Vivamus vel nunc sed arcu scelerisque congue. Nunc faucibus ullamcorper feugiat. Donec vitae urna in justo bibendum blandit vitae id turpis. Morbi rhoncus ut leo sit amet egestas. Morbi et quam eget ex commodo dapibus. Quisque volutpat non ipsum et vehicula. Integer ac erat eu nunc dapibus laoreet. Aenean elit nunc, tincidunt fermentum dictum in, ultrices eu urna. Etiam molestie viverra est nec ultrices.</p>
  </div>
  
  <article>
    <h1>Hello</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam hendrerit, justo nec iaculis semper, quam risus auctor mauris, in molestie tortor lacus ac erat. Fusce libero libero, luctus non ex venenatis, auctor hendrerit orci. Vivamus vel nunc sed arcu scelerisque congue. Nunc faucibus ullamcorper feugiat. Donec vitae urna in justo bibendum blandit vitae id turpis. Morbi rhoncus ut leo sit amet egestas. Morbi et quam eget ex commodo dapibus. Quisque volutpat non ipsum et vehicula. Integer ac erat eu nunc dapibus laoreet. Aenean elit nunc, tincidunt fermentum dictum in, ultrices eu urna. Etiam molestie viverra est nec ultrices.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam hendrerit, justo nec iaculis semper, quam risus auctor mauris, in molestie tortor lacus ac erat. Fusce libero libero, luctus non ex venenatis, auctor hendrerit orci. Vivamus vel nunc sed arcu scelerisque congue. Nunc faucibus ullamcorper feugiat. Donec vitae urna in justo bibendum blandit vitae id turpis. Morbi rhoncus ut leo sit amet egestas. Morbi et quam eget ex commodo dapibus. Quisque volutpat non ipsum et vehicula. Integer ac erat eu nunc dapibus laoreet. Aenean elit nunc, tincidunt fermentum dictum in, ultrices eu urna.</p>
  </article>
  
</div>

</section>

<footer>
  <p>Footer</p>
</footer>

</body>
</html>
